.logo, .logo img {
    max-width: 200px!important;
}

.header-hightlightbar {
  text-align: center;
  padding: 10px 15px;
  font-size: 16px!important;
  letter-spacing: 0.5px;

  border-top: 2px solid #c9a85d;
  border-bottom: 2px solid #c9a85d;

  background-image: linear-gradient(
    90deg,
    rgba(201,168,93,0.2),
    transparent,
    rgba(201,168,93,0.2)
  );
}


.header-hightlightbar strong {
  color: #c9a85d;
}


.header-hightlightbar .container {
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
  will-change: opacity;
}

.header-hightlightbar {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
  .header-hightlightbar {
    font-size: 12px;
    padding: 8px;
  }
}

.section-header:has(.h-center-container) .header-row.--center.categories {
  position: relative;
}

.section-header:has(.h-center-container) .header-row.--center.categories::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg,rgba(140, 42, 56, 0) 0%, rgba(140, 42, 56, 0.4) 22%, rgba(140, 42, 56, 1) 50%, rgba(140, 42, 56, 0.4) 76%, rgba(140, 42, 56, 0) 100%);
}

.header-content .categories .categories-menu {
    gap: 0 40px!important;
}

.section-header:has(.h-left-container) .header-row {
    padding: 15px 0!important;
}

.cart-quantity {
    margin-left: -8px;
    width: 24px;
    position: relative;
    top: -7px;
}

@media only screen and (max-width: 700px) {
    .header.fixed-header .header-content .logo {
        height: 60px;
    }
}

.header.fixed-header .header-content {
    max-height: 90px!important;
    padding: 15px 0!important;
}

@media (max-width: 600px) {
  .section-header:has(.h-center-container) .header-row.--center.categories {
    position: fixed;
  } 
}
